#background {
  background-image: linear-gradient(lightblue, blue);
}
#container {
  background-image: linear-gradient(lightblue, blue);
  position: relative;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
}
#animate2 {
  width: 50px;
  height: 50px;
  position: absolute;
}

img.small {
  height: 100%;
  width: 100%;
}
img.med {
  height: 180%;
  width: 180%;
}
img.large {
  height: 50%;
  width: 50%;
}

img.flip {
  transform: scaleX(-1);
}
